body {
  text-align: center;
}

.cases {
  border: 2px solid #ffef15;
}

.deaths {
  border: 2px solid rgb(228, 21, 21);
}

.recovered {
  border: 2px solid rgb(57, 189, 17);
}

.brand {
  text-align: center !important;
  color: white !important;
}

.main {
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.end_texts {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: small;
}
